In [1]:
import pandas as pd 
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df
# Q. 위에서 만든 'new_modudak.csv' 파일을 불러와주세요. 이때 'Unnamed: 0' 컬럼을 index로 지정해주세요.
df = pd.read_csv("new_modudak.csv", index_col="Unnamed: 0")
df

                   메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0              황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1              승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2                간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3                마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                  파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                 닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6            양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new         [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10          [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

### 그룹핑

In [3]:
# 원산지 기준 평균
df.groupby("원산지").mean(numeric_only=True)

          가격     칼로리   할인율      할인가
원산지
국내산  14000.0  1100.0  0.35   8800.0
브라질  14500.0  1400.0  0.20  11600.0

In [4]:
# 원산지와 할인율 기준 평균
df.groupby(["원산지", "할인율"]).mean(numeric_only=True)

              가격     칼로리      할인가
원산지 할인율
국내산 0.2  12000.0  1000.0   9600.0
    0.5  16000.0  1200.0   8000.0
브라질 0.2  14500.0  1400.0  11600.0

In [9]:
# 원산지와 할인율 기준, 가격 평균
df.groupby(["원산지", "할인율"])["가격"].mean()

원산지  할인율
국내산  0.2    12000.0
     0.5    16000.0
브라질  0.2    14500.0
Name: 가격, dtype: float64

In [10]:
pd.DataFrame(df.groupby(["원산지", "할인율"])["가격"].mean())

              가격
원산지 할인율
국내산 0.2  12000.0
    0.5  16000.0
브라질 0.2  14500.0

In [11]:
df.groupby(["원산지", "할인율"])[["가격"]].mean()

              가격
원산지 할인율
국내산 0.2  12000.0
    0.5  16000.0
브라질 0.2  14500.0

In [13]:
# 원산지와 할인율 기준 최댓값
df.groupby(["원산지", "할인율"]).max(numeric_only=True)

            가격     칼로리      할인가
원산지 할인율
국내산 0.2  12000  1000.0   9600.0
    0.5  16000  1200.0   8000.0
브라질 0.2  15000  1500.0  12000.0

In [14]:
# 1개 인덱스 형태로 리셋
df.groupby(["원산지", "할인율"]).max(numeric_only=True).reset_index()

   원산지  할인율     가격     칼로리      할인가
0  국내산  0.2  12000  1000.0   9600.0
1  국내산  0.5  16000  1200.0   8000.0
2  브라질  0.2  15000  1500.0  12000.0

In [16]:
# Q. 다음 df 변수의 데이터에서 '호수'를 기준으로 가격, 칼로리, 할인율, 할인가의 평균을 뽑아주세요.
df = pd.read_csv('new_modudak.csv')
df.groupby("호수").mean(numeric_only=True)

          가격          칼로리   할인율           할인가
호수
10호  11975.0  1233.333333  0.20  10133.333333
11호  15000.0  1250.000000  0.35   9600.000000
12호  15000.0  1500.000000  0.20  12000.000000
9호   14000.0  1700.000000  0.20  11200.000000

### apply

In [21]:
# apply 예시 (칼로리가 1300 보다 큰 값과 작은 값)
def cal(x):
    if x >= 1300:
        return "yes"
    else:
        return "no"
print(cal(1400))
print(cal(1200))
df["칼로리"].apply(cal)

yes
no

0     no
1    yes
2    yes
3    yes
4    yes
5    yes
6    yes
7     no
8     no
Name: 칼로리, dtype: object

In [23]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 컬럼 활용)
df["살찔까요"] = df["칼로리"].apply(cal)
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지 살찔까요
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산   no
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN  yes
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN  yes
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN  yes
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질  yes
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질  yes
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN  yes
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산   no
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN   no

In [25]:
# lambda, apply 활용
df["고민"] = df["칼로리"].apply(lambda x: "먹지말자" if x >= 1300 else "먹자")
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산   no    먹자
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN  yes  먹지말자
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN  yes  먹지말자
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN  yes  먹지말자
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질  yes  먹지말자
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질  yes  먹지말자
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN  yes  먹지말자
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산   no    먹자
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN   no    먹자

In [26]:
df.to_csv("final_modudak.csv", index=False)

In [27]:
pd.read_csv("final_modudak.csv")

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지 살찔까요    고민
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산   no    먹자
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN  yes  먹지말자
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN  yes  먹지말자
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN  yes  먹지말자
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질  yes  먹지말자
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질  yes  먹지말자
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN  yes  먹지말자
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산   no    먹자
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN   no    먹자

In [29]:
# Q. 다음 df 변수의 데이터에서 각 메뉴의 이름에 '❤️'를 붙여주세요.
# ex. 황금후라이드 -> 황금후라이드❤️
# apply와 lambda를 활용해주세요.
df = pd.read_csv('new_modudak.csv')
df["메뉴"] = df["메뉴"].apply(lambda x: x+"❤️")
df

  Unnamed: 0           메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드❤️  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨❤️  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨❤️  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨❤️  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭❤️  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정❤️  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반❤️  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨❤️  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨❤️   9900  10호     NaN  NaN      NaN  NaN

In [32]:
# Q. 다음 df 변수의 데이터에서 '가성비'라는 칼럼을 만들고,
# '호수' / '가격' 의 값이 0.0008을 넘으면 '가성비' 칼럼 값을 'Good' 아니면 'Bad'로 넣어주세요.
df = pd.read_csv('new_modudak.csv')
df
ho = df["호수"].str.replace("호", "").astype(int)
cond = ho / df["가격"] > 0.0008
df["가성비"] = cond.apply(lambda x: "Good" if x else "Bad")
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지   가성비
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산  Good
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN   Bad
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN   Bad
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN   Bad
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질   Bad
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질   Bad
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN   Bad
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산   Bad
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN  Good